python/pynamics/__pycache__/*
*__pycache__*
python/pynamics/popupcad/render*
python/pynamics/popupcad/rundata
python/pynamics/examples/render*
*render*
/build/*
/dist/pynamics-0.0.1-py2.py3-none-any.whl
/pynamics.egg-info/*
/dist/*
/python/pynamics_examples/pynamics.log
/python/pynamics_examples/in_development/pynamics.log
/python/pynamics/pynamics.log
